.searchBlock {
	display: flex;
	align-items: center;
	max-width: 400px;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 8px;
	padding: 0 10px;

	svg {
		padding-left: 5px;
		width: 1rem;
		height: 1rem;
	}

	input {
		width: 100%;
		padding: 0.6rem 10px;
		border: none;
		height: 100%;
		font-size: 18px;
		font-weight: 700;
		border-radius: 8px;

		&::placeholder {
			font-size: 16px;
			font-weight: 500;
			color: #000;
			opacity: 0.3;
		}
	}
}
